* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:flex;
  min-height: 98vh;
  align-items: center;
  justify-content: center;
}

img{
  width: 15vw;
  height: 55vh;
  margin: 24px;
  padding: 12px;
}

#botaoVerde {
  position: absolute;
  top: 78%;
  left: 30%;
  margin: 24px;
  padding: 12px;
  border-radius: 4px;
}

#botaoAmarelo {
  position: absolute;
  top: 78%;
  left: 47%;
  margin: 24px;
  padding: 12px;
  border-radius: 4px;
}


#botaoVermelho {
  position: absolute;
  top: 79%;
  left: 66%;
  margin: 12px;
  padding: 12px;
  border-radius: 4px;
}